body {
    background-color: azure;
    font-size: 12px;
    font-family: monospace;
}

svg {
    position: absolute;
}

#face {
    height: 500px;
    width: 500px;
    margin: auto;
    position: relative;
}

.cheveux,
.nez,
.sourcils,
.palais,
.pupille {
    fill: black;
}

.levres,
.iris {
    fill: #85493f;
}

.oeil,
.dents {
    fill: white;
}

.visage {
    fill: #fab8a2;
}

.info {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: gainsboro;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
}

input {
    width: 70px;
}