/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

textarea:focus,
input:focus {
    outline: none;
}

.hidden {
    display: none;
}

#timer {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 8rem;
    font-weight: 900;
    transform: translate(-50%, -50%);
    color: white;

    display: none;

    z-index: 999;
}